SUPABASE_URL=
SUPABASE_KEY=
GEMINI_API_KEY=
DOBBY_BOT_URL=
DOBBY_SECURITY_TOKEN=

# Discord OAuth2 Credentials (You get these from the Discord Developer Portal)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

# A secret string used by Spring Boot to sign the JWT tokens it issues to Angular (e.g. 7d, 7h, 7m)
JWT_SECRET=
JWT_EXPIRATION=

# Secerte Dev key
SECERTE_DEV_KEY=

# Frontend URL (used for CORS and redirecting after authentication)
FRONTEND_URL=

# Backend api key
BACKEND_API_HEADER=
BACKEND_API_KEY=
